html{
    height: 100vh;
}

body {
    background-color: #f8f9fa;
    height: 100vh;
}

input[type="range"] {
    background: transparent;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #bbbbbb;
}

input[type="range"]::-webkit-slider-thumb {
    background: #363636;
    border-radius: 50%;
    cursor: pointer; 
}

input[type="range"]::-webkit-slider-thumb:active {
    background: #1a1a1a;
}

.canvas{
    width: 100%;
    height: 100%;
}
